.checkout{
    width:80%;
    margin: auto;
}
.checkoutBg{
    width:100%;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
    margin: 20px;
    padding: 25px;
}
.checkoutForm > input{
    margin:20px 0px;
}